ul {
    list-style-type: circle;
    padding: 20px;
    margin-left: 35px;
}

.imagen {
  width: 120px;
  height: 140px;
}
  
.media {
  color: rgb(0, 0, 0);
  margin-left: 5%;
}

.btn-primary {
  width: 25%;
  background-color: #3e5baa;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5%;
}

.titulo {
  margin-left: 5%;
  margin-top: 2%;
}
